.hero{
    width: 100%;
    text-align: center;
}

.hero .navigation-btn {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.hero .navigation-btn button {
    width: 60%;
    height: 50px;
    border: 0;
    outline: none;
    background: transparent;
    border-radius: 10px;
    font-weight: 500;
    font-size: 18px;
}

.hero .navigation-btn button:nth-child(1) {
    background: #000;
    color: #fff;
}

